.container {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  ul li {
    list-style: none;
    margin-bottom: 20px;
  }

  .link {
    &:hover {
      color: #dc9763;
    }
  }
  .linkActive a {
    color: #dc9763;
  }
}
